.products {
	margin-top: 35px;
	margin-bottom: 35px;
}

@media (min-width: 1130px ) {
	.products {
		margin-top: 95px;
		margin-bottom: 125px;
	}	
}

.products-heading {
	margin: 0;
	margin-bottom: 5px;
	display: flex;
	justify-content: center;
	font-size: 32px;
	line-height: 1.3;
	
	font-weight: 700;
	color: #585858;
	text-transform: uppercase;
}
@media (min-width: 550px ) {
	.products-heading {
		font-size: 42px;
		line-height: 1.5;
		margin-bottom: 15px;
	}
}
.products-descr {
	text-align: center;
	#969696;
}

.products-descr::after {
	margin: 0 auto;
	margin-top: 25px;
	display: block;
	content: ' ';
	width: 128px;
	height: 2px;
	background-color: #ff2d2d;
}
.products-descr1 {
	margin: 0;
	color: #969696;
	font-size: 14px;
	line-height: 1.5;
	
}
@media (min-width: 550px ) {
	.products-descr1 {
		font-size: 16px;
		line-height: 1.9;
	}
}
.our-products {
	margin-top: 25px;
}
@media (min-width: 920px ) {
	.our-products {
		margin-top: 85px;

	}
}

.product-navigation {
	position: relative;
	padding: 0;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 22px;
	font-weight: 700;
	line-height: 1.1;
	color: #737373;
	border: none;
	margin-right: 5px;
	margin-bottom: 10px;
	background-color: unset;
	outline: none;
}
.product-navigation:last-child {
	margin-right: 0;
	margin-bottom: 0;
	}
@media (min-width: 820px ) {
	.product-navigation {
		margin-top: 0;
		margin-bottom: 0;
		border-bottom: 2px solid #ff2d2d00;
	}
	.product-navigation:hover {
	cursor: pointer;
	border-bottom: 2px solid #ff2d2d;
	transition: border-bottom ease-out 0.3s;
	}
}
@media (min-width: 920px ) {
	.product-navigation {
		margin-right: 0;
	}
}

@media (max-width: 820px ) {
	.product-navigation {
		
		border-bottom: 0;
	}
	.product-navigation:after {
		display: block;
		position: absolute;
		left: 38%;
		right: 38%;
		content: "";
		width: 24%;
		height: 2px;
		background-color: #ff2d2d;
		opacity: 0;

	}
	.product-navigation:hover:after{
		cursor: pointer;
		transition: opacity ease-out 0.3s;
		opacity: 1;
	}
}

.product-img {
	/*margin: 0 20px 20px 0;*/
	margin: 10px;
	width: 297px;
	height: 290px;
	object-fit: cover;
	background-color: #f5f0dd;
}
@media (min-width: 1218px ) {
	.product-img {
		margin: 0px;
	}
}


/*.product-img:nth-child(n+4) {
	margin: 0 20px 0 0;
}
.product-img:nth-child(4n) {
	margin: 0 0 20px 0;
}
.product-img:last-child {
	margin: 0;
}
@media (max-width:664px ){
	.product-img {
		margin: 0;
	}
	.product-img:nth-child(n+4) {
		margin: 0;
}
	.product-img:nth-child(4n) {
		margin: 0 ;
	}
.product-img:last-child {
		margin: 0;
	}
}*/

.products-nav {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0 auto;
}
@media (min-width: 820px ) {
	.products-nav {
		flex-direction: row;
	}
}
@media (min-width: 920px ) {
	.products-nav {
		width: 890px;

	}
}
.products-photo {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 62px;	
}

@media (min-width: 1218px ) {
	.products-photo {
	
		justify-content: space-between;
	}
}



